%h1= "Apps"
%ul.apps-list
  %li
    = image_tag "altimeter.jpg"
    %h2= "Altimeter"
    %h3= "Contribution: Development (Swift)"
    %p= "A simple altimeter for your iPhone & Apple Watch."
    %p= "Website: <a href='//getaltimeter.com' target='_blank'>getaltimeter.com</a>"
    %p= "Source: <a href='//github.com/beauhankins/altimeter-ios' target='_blank'>github.com/beauhankins/altimeter-ios</a>"
  %li
    = image_tag "click.jpg"
    %h2= "Click"
    %h3= "Contribution: Development (Objective C)"
    %p= "A super simple metronome."
    %p= "Website: <a href='//baycun.com/click' target='_blank'>baycun.com/click</a> (No Longer Available)"
  %li
    / = image_tag ""
    %h2= "Easterfest 2014"
    %h3= "Contribution: Design & Development (Objective C)"
    %p= "Easterfest is a festival at Easter all about the message of Easter. Over 150 different artist from around the world perform throughout Queens Park and in Toowoomba cafes, restaurants, pubs and shopping centres. From pop to jazz, folk to heavy metal, there is a style to accommodate every taste."
    %p= "Website: <a href='//easterfest.com' target='_blank'>easterfest.com</a> (No Longer Available)"