= image_tag "profilehero.jpg"
%h1= "Product Designer,<br>Software Developer"
%p= "I’m a product designer and software developer living in Brisbane, Australia. I specialise in user interface design and iOS development. Notably, I’ve worked as a designer at <a href='//netengine.com.au' target='_blank'>NetEngine</a> and a mobile app developer at <a href='//codeheroes.com.au' target='_blank'>CodeHeroes</a>."
%p= "&nbsp;"
%p= "Drop me a line: <a href='mailto:hello@beauhankins.com'>hello@beauhankins.com</a>"