%h1= "Music"
%ul.music-list
  %li
    .album-art
      = image_tag "onra-fundamentals.jpg"
    .album-details
      %h2= "Onra – Fundamentals"
      %h3= "Released: May 15, 2015 (All City Dublin)"
      %p= "French producer Onra has never shied from the influence of 1990s hip-hop and r&b on his work. Fundamentals is far more than the sum of its influences, it’s a retro futuristic sound looking back but thinking forward."
  %li
    .album-art
      = image_tag "kinggizzardandthelizardwizard-quarters.jpg"
    .album-details
      %h2= "King Gizzard & The Lizard Wizard – Quarters!"
      %h3= "Released: May 1, 2015 (Flightless)"
      %p= "Somewhere near the heart of this magic and humour lies the appeal of Quarters! and its beautiful sprawling final track, Lonely Sheet Steel Flyer. On an album of four quarters, each precisely 10 minutes 10 seconds long, King Gizzard & the Lizard Wizard unravel mysteries, perform magic and tease melodies out of intricately formed musical patterns."
  %li
    .album-art
      = image_tag "tysegall-manipulator.jpg"
    .album-details
      %h2= "Ty Segall – Manipulator"
      %h3= "Released: August 25, 2014 (Drag City)"
      %p= "Manipulator is the seventh studio album by American rock musician Ty Segall, released on August 25, 2014 on Drag City. The album took 14 months to complete, much longer than any previous Segall release."
  %li
    .album-art
      = image_tag "juanwauters-nap.jpg"
    .album-details
      %h2= "Juan Wauters – N.A.P. North American Poetry"
      %h3= "Released: February 4, 2014 (Captured Tracks)"
      %p= "Juan Wauters, singer for Queens-based garage-folk band the Beets, presents himself as a kind of playground philosopher: a gum-poppin’ dude with holes in his sneakers staring hearts and daggers into the center of the universe from behind a pair of beat-up Ray-Bans."
  %li
    .album-art
      = image_tag "macdemarco-2.jpg"
    .album-details
      %h2= "Mac Demarco – 2"
      %h3= "Released: October 16, 2012 (Captured Tracks)"
      %p= "2 is the debut full-length studio album by Canadian musician Mac DeMarco. It was recorded in June and released in October of 2012 on the Captured Tracks label."